body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:16px;
    color:#333;
    margin:0;
    padding:0;
}
.bg-black{
    background-color:#000;
}
.marging-left-important{
    margin-left: -15px !important;
}
.background-moon-color{
    background-color:#1e3932;
    color:#fff;
}
.wrapper{
    width:100%;
    position:relative;
}
.cardbox{
    position:fixed;
    top:110px;
    right:20px;
    width: 30%;
}

.cardbox img, picture img{
    max-width:100%;
    height: 100%;
}

.radius-white-line{
    width:30px;
    height:30px;
    display:flex;
    position:absolute;
    border:1px solid #fff;
    border-radius:50%;
    right:20px;
    justify-content:center;
    align-items:center;
}
a.radius-white-line>.material-icons {
    color:#fff;
    text-decoration:none;
}
a.radius-white-line:hover{
    text-decoration:none;
}
a.radius-white-line:hover >.material-icons {
    color:#eee;
}
/** 네비게이션 **/
.nav-bg{
   background:#e5e5e5;
   padding-top:5px;
   border-top:2px solid #333;
   position:fixed;
   z-index:100;
   top:0;
   left:0;
   width:100%;
   position:relative;
}
.nav-bg .row {
    padding-top:5px;
    padding-bottom:10px;
}
.logo{
    width:70%;
}
.topnavbox{
    display:flex;
}
.gnb, .topnav{
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    width:100%;
}
.topnav li:not(:last-child)::after{
    content:"";
    display:inline-block;
    height:10px;
    width:1px;
    background:#999;
}
.navin a{
    white-space: nowrap;
    color:#333;
    font-family:'Avenir Next LT Pro', sans-serif;
}
.topnav a{
    width:calc(100% - 1px);
    display:inline-block;
    padding:0 15px;
    font-size:13px;
    color:#333;
    font-weight:300;
}

.input-search {
    width:0;
    border:none;
    outline: none;
    background:transparent;
    transition:all .25s;
}
.searchForm{
    display:flex;
    justify-content: flex-end;
    align-items:center;
}
.searchForm.act {
    border:1px solid #999;
    background:#fff;
    border-radius:8px;
    padding:5px 10px;
    position:relative;
}
.input-search.act{
    width:150px;
}
.input-search::placeholder{
    font-size:13px;
    color:#999;
}
a.search-btn{
    background:#fff;
    border:1px solid #999;
    border-radius:5px;
    padding:1px 5px;
    color:#333;
}
.searchForm.act a.search-btn{
    border:none;
    padding:0;
    position:absolute;
    right:5px;
}
a.search-btn span.material-icons{
    font-size:28px;
}
.gnb {
    margin-top:10px;
}
.gnb li{
    text-align:center;
}
.gnb li:hover{
    background:#333;
}
.gnb li:hover a{
    color:#14a86b;
}
.gnb>li>a{
    display:inline-block;
    font-weight:300;
    padding:15px 15px 30px;
}
div.lnb{
    position:absolute;
    width:100%;
    padding: 20px 0;
    left:0;
    top:123px;
    background:#333;
    display:none;
    z-index:10;
}
.lnb ul{
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    flex-wrap: wrap;
}
.lnb li{
    width:20%;
}
.gnb li:hover .lnb a{
    display:block;
    color:#fff;
    font-size:13px;
    line-height:30px;
    text-align:left;
}
.lnb a.lnb-title{
    font-weight:700;
    font-size:14px;
    margin:30px;
    line-height:1.2;
    text-align:left;
}
.lnb a:last-child {
    margin-bottom:40px;
}
.navin{
    display:none;
}
.mobile{
    display:block;
}
.btn-box{
    display:flex;
    justify-content: flex-end;
}
a>.material-icons {
    color:#333;
}
a:hover>.material-icons {
    color:#000;
}
.material-icons.menu{
    cursor:pointer;
}
.fadeblack {
    position:fixed;
    z-index: 100;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.6);
    top:0;
    left:0;
    display:none; 
}
.mobile-nav-box{
    background:#000;
    height:100%;
    margin:0;
    padding:0;
    margin-left:30%;
    position:relative;
    list-style-type:none;
}
.mobile-nav-box li{
    border-bottom:1px solid #333;
    padding:20px;
}
.mobile-nav-box li.grayblack{
    background:#333;
    border-bottom:1px solid #000;  
}
.mobileSearchForm{
    padding-top: 20px;
    padding-bottom:20px;
}
.mobile-nav-box li a{
    display:flex;
    width:100%;
    height:40px;
    font-size:18px;
    color:#fff;
    justify-content: space-between;
    align-items: center;
}
.mobile-nav-box li a{
    text-decoration:none;
}
.mobile-nav-box li a:hover span{
    text-decoration:underline;
}

.mobile .material-icons{
    font-size:40px;
    margin-right:15px;
}
a.xclose{
    position:absolute;
    top:10px;
    left: 90px;
    z-index:150;
}

a.xclose span.material-icons {
    font-size:50px;
    color:#fff;
    transition: transform 1s;
    transition: -webkit-transform 1s;
}
a.xclose:hover span.material-icons {
    transform:rotate(180deg);
}
ul.mobile-lnb{
    list-style:none;
    padding:0px;
    margin:0;
    margin:15px -20px -20px;
    background:#222;
    display:none;
}
ul.mobile-lnb li{
    padding-left:40px;
}

/** main banner **/
.mainbanner {
    height:auto;
    background: url(../images/mobile/m_main_bg.jpg) no-repeat center top;
    background-size:cover;
}
.mainbanner>.container{
    padding-top:50px;
    flex-wrap: wrap;
}
.main-text{
    width: 55%;
}
.cont img{
   margin-bottom:30px;
   max-width:100%;
}
.mainbanner .col-3 {
    height: 80vh;
}

.punch{
    position:static;
    display:block;
    text-align:center;
    margin-top:35px;
}
.coldbrew {
    position:static;
    display:block;
    margin-top:-50px;
}
.greentea{
    position:static;
    display:block;
    margin-top:-50px;
}
.noticebox{
    position:absolute;
    display:flex;
    right: 0px;
    width:600px;
}
.noticebox strong{
    display:block;
    width:100px;
}
.notice-text{
    width:calc(100% - 170px);
}
/** SECTION REWARDS **/
section.rewards p{
    margin-bottom:0;
}
section.rewards .fs-14{
    font-size:.95em;
}
.imgs{
    display:flex;
    width:100%;
    padding-left:100px;
    margin-top:10px;
}
.imgs span{
    margin-left:100px;
    display:flex;
    width:30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50%;
}
a.imgs{
    color:#333;
    font-size:20px;
    text-decoration:none;
}
.imgSlider{
    width: 100%;
    height:650px;
    background:#ddd;
    overflow: hidden;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}
.imgSlideIn{
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 40px;
    left: 0;
}
.imgSlideIn>div{
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.5;
    transition: all 0.2s;
}
.imgSlideIn>div.opacity-1{
    opacity:1;
}
.page{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.page li{
    width: 10px;
    height: 10px;
    background: #999;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}
.page li.act{
    background: #000;
}
/**summer-bg***/
.summer-bg{
    position: relative;
    height: 572px;
    background: url(../images/Summer_bg2.jpg) center;
    background-size: cover;
}
.tl,.br{
    position: absolute;
}
.tl{
    top: 0;
    left: 0;
}
.bean{
    position: absolute;
    left: 500px;    
    top: 100px;
}
.br{
    bottom: 0;
    right: 0;
}
.bean{
    position: absolute;
    left: 500px;    
    top: 100px;
    
}
div .bean-text-box{
    width: 30%;
    text-align: left;
    font-size: 1.2em;  
    position: absolute;
    right: -100px;
    top: 170px;
    
}
p.text1{
    color: rgb(147, 147, 202);
    font-size: 16px;
    font-weight: 600;

}
.bean-text-box h1{
    color: rgb(0, 0, 107);
    font-weight: 800;
}
p.text2{ 
    white-space: wrap;
    font-size: 1.2em;
    color: rgb(0, 0, 156);
}
.sLeftIn{
    animation: slideLeftIn 3s ease 0.2s forwards;
    animation-play-state: paused ;

}
.sRightIn{
    animation: slideRightIn 3s ease 0.2s forwards;
    animation-play-state: paused ;

}
.bean-text-box{
    position: absolute;
    width: 29.7%;
    max-width: 321px;
    top: 100;
    right: 100px;
   font-size: 1.2em;
}
.bean-text-box p:not(.top-title){
    margin-bottom: 0;
    letter-spacing: -2px;
}
.been-text-box p:last-child{
    margin-bottom: 15px;
}



/**reserve-bg***/
.reserve-bg{
    position: relative;
    height: 572px;
    background: url(../images/reserve_2022_indonesia_visual_bg.jpg) center;
    background-size: cover;
    overflow:  none ;
}
.leaf_r, .leaf_l{
    position: absolute;
    z-index: 1;
}
.leaf_l{
    bottom: 0;
    left: 0;
}
.leaf_r{
    bottom:  0;
    right: 0;
    opacity: 0.7;
}
.ind_title{
    position: absolute;
    display: block;
    top: 150px;
    left: 450px;
}
.leaf_button{
    position: absolute;
    display: block;
    top: 300px;
    left: 600px;
}
.ind-cup{
    position: absolute;
    display: block;
    margin: 0px auto; 
    top: 173px;
    left: -300px;
}

.footer{
    height: 100%;
    background-color: #333;
    color: #eee;
}
.footerNav{
    height: 280px;
}
.footerItems{
    float: left;
    width: 20%;
    margin-top: 50px;
}
.footerItems li a{
    color: #eee;
   
}
.foot-title{
    font-weight: 700;
}
.footerAward{
    display: flex;
    
}
.copyright .text_green{
    color: #14a86b;
}
.copyright a{
    color: #fff;
}
.copyright{
    text-align: center;
}
.copyright .mbn::before{
    content: "l";
    margin-left: 8px;
    margin-right: 8px;
    color: #999;
}
.btned_{
    text-align: center;
}
.btned_link{
    border: 1px solid #fff;
}
.btned_link{
    display: inline-block;
    width: 114px;
    height: 34px;
    text-align: center;
    line-height: 34px;
}
.copy_menu{
    display: flex;
    justify-content: space-between;
}
.en{
    display:block;
    text-align: center;
}
@media screen and (min-width: 1000px) {
    .navin {
        width:70%;
        display:flex;
        flex-direction: column;
        align-items: flex-end;  
     }
     .mobile {
         display:none;
     }

     .cardbox{
        position:fixed;
        top:160px;
        left: calc( 50% + 620px );
        z-index:9999;
    }

     .nav-bg .row {
        padding-top:0px;
        padding-bottom:0px;
    }
    .logo{
        width:100%;
    }
    .mainbanner {
        height:646px;
        background: url(../images/main_bg.jpg) no-repeat center;
        background-size:cover;
    }
    .mainbanner .col-3 {
        height: 646px;
    }
    .main-text{
        width:100%;
    }
    .punch{
        position:absolute;
        top: 200px;
        left:-130px;
    
    }
    .coldbrew {
        position:absolute;
        top:40px;
        left:-230px;
    }
    .greentea{
        position:absolute;
        right:0;
        top: 100px;
    }
    
}
@keyframes slideLeftIn{
    from{
        left: -311px;
        opacity: 0;
    }
    to{
        left: 100px;
        opacity: 0;
    }
}
@keyframes slideRightIn{
    from{
        left: -311px;
        opacity: 1;
    }
    to{
        left: 100px;
        opacity: 1;
    }
}